
/*General*/
* ¨{
    box-sizing: border-box;
    font-family:sans-serif
}

body {
    margin: 0;
    padding: 0;
}
/* NavBar Section*/
.navbar-container {
    background-color: #1f2937;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 48px;;
}

.navbar-list {
    color: white;
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

.navbar-logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-right: auto;
}
/*Hero Section*/
.hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 20px 48px;
    gap: 20px;
    background-color: #1f2937;
    color: white;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
}

.hero-image {
    height: auto;
    width: 600px;
}

.hero-heading {
    flex: 1;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-button {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    margin-top: 20px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
}

.hero-p {
    
    font-size: 18px;
    max-width:90%;
}
